@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.botao {
  @apply flex items-center gap-2;
  @apply px-6 py-2.5 rounded-md;
}
.botao.azul {
  @apply bg-blue-500 hover:bg-blue-600;
  @apply text-white;
}
.botao.vermelho {
  @apply bg-blue-500 hover:bg-blue-600;
  @apply text-white;
}

.container{
  @apply flex flex-col justify-center items-center;
  @apply  h-screen;
}
.exercicio{
  @apply bg-zinc-900 rounded-lg;
  @apply overflow-hidden;
}

.exercicio h1{
  @apply text-3xl font-black;
  @apply px-10 py-5 bg-zinc-800;
}

.exercicio .conteudo{
  @apply flex flex-col p-5 text-xl;
}